{% extends 'basic.html' %}

{% block main %}
    <article >
        <header class="entry-header">
            <h1 class="entry-title">{{ content.name }}</h1>
            <div class="entry-meta">
                <span class="post-date"><a href="#"><time class="entry-date"
                                                          datetime="{{ content.created_time }}">{{ content.created_time }}</time></a></span>
                <span class="views-count"><a href="#">{{ content.views }} 阅读</a></span>
            </div>
        </header>
        <div class="entry-content clearfix">
            {{ content.content|safe }}
        </div>
    </article>
{% endblock main %}

{% block toc %}
    <div class="widget widget-content">
        <h3 class="widget-title">文章目录</h3>
        {{ content.toc|safe }}
    </div>
{% endblock toc %}

